
<div class="login_wrapper">
  <div class="login_left">
  <h1 class="text_center">Welcome to Endorsesaurus!</h2>

    <h2 class="text_center">Overview</h2>
    <p>
      Endorsesaurus solves a simple dilemma: What should I watch next?  Endorsesaurus provides a forum for individuals to give and receive recommendations to and from their friends.  These recommendations are used to automagically create an ordered list of what you should watch next.  No more "users also liked" or "users also bought" - these are recommendations provided to you by the people who know you best, not a robot!  Endorsesaurus points system means that the more recommendations that are liked by your friends, the more your recommendations have weight and the higher your recommendations will be bumped on their list.
    </p>

    <h2 class="text_center">Nav Bar</h2>
    <p>
      Movies - This link will take you to the Movies page where you can browse movies by genre, most watched, most liked, and most recommended.
    </p>
    <p>
      Shows - This link will take you to the Shows page where you can browse movies by genre, most watched, most liked, and most recommended.
    </p>
    <p>
      Tags - This page shows a variety of genres to choose from.
    </p>
    <p>
      Search - Use the search bar at the top of the page to search any media you want.  The dropdown menu will allow you to select if you're searching for a show or a movie.
    </p>

    <h2 class="text_center">Your Hub</h2>
    <p>
      Dashboard - This page is only for you - no one else will see it.  This page shows your friends recent activity.  What are they watching?  What are they liking or disliking?  What are they liking?  Who's becoming friends with who?  You can see all of this information here!
    </p>
    <p>
      Profile - This page will show what a user has been watching, liking, friending, etc.
    </p>
    <p>
      Friends - This page shows a user's friends.  If this is your friends page, it will give you options to add/remove friends.
    </p>
    <p>
      Movie List - This page shows two things - the movies a user has liked/seen/disliked, and their current list of recommendations.  From this page you can browse their preferences and add to any recommendations that you like.  If this is your Movie List, you can select whether you like, thought it was ok, or dislike any media to remove it from the list and distribute points.
    </p>
    <p>
      Show List - This page shows two things - the movies a user has liked/seen/disliked, and their current list of recommendations.  From this page you can browse their preferences and add to any recommendations that you like.  If this is your Show List, you can select whether you like, thought it was ok, or dislike any media to remove it from the list and distribute points.
    </p>

    <h2 class="text_center">Colors</h2>
    <p>
      Green - this stands for "liked"
    </p>
    <p>
      Yellow - this stands for "ok"
    </p>
    <p>
      Red - this stands for "disliked"
    </p>
    <p>
      Blue - this is related to recommendations
    </p>

    <h2 class="text_center">Icons</h2>
    <p>
      <img src="/app/assets/images/opinion_bar.png" /> - This bar shows the distribution of people's opinion of a media.  Green stands for likes, yellow stands for mehs, red stands for dislikes.
    </p>
    <p>
      <img src="/app/assets/images/white_circle.jpeg" width="15" height="15"/> - This icon means that you haven't seen this media yet!  Hover over this to select whether you liked it, thought it was ok, or disliked it.
    </p>
    <p>
      <img src="/app/assets/images/green_circle.svg" width="15" height="15"/> - This icon means that you like this media.  If this media is on your list and you select this icon, you will get points for participating and the users who recommended it to you will all get points :).  Hover over this and select a different color to change your mind.  Points will not be redistributed for changing your mind and you will not earn points if this media is not on your recommendation list.
    </p>
    <p>
      <img src="/app/assets/images/yellow_circle.png" width="15" height="15"/> - This icon means that you thought this media was ok.  If this media is on your list and select this icon, you will get points for participating but those who recommended it to you will not receive any points.  Hover over this and select a different color to change your mind.  Points will not be redistributed for changing your mind and you will not earn points if this media is not on your recommendation list.
    </p>
    <p>
      <img src="/app/assets/images/red_circle.png" width="15" height="15"/> - This icon means that you dislike this media.  If this media is on your list and you select this icon, you will get points for participating but those who recommended it to you will all lose points for their poor recommendation.  Hover over this and select a different color to change your mind.  Points will not be redistributed for changing your mind and you will not earn points if this media is not on your recommendation list.
    </p>
    <p>
      <img src="/app/assets/images/white_arrow.jpg" width="15" height="15"/> - This icon only appears on other user's lists.  If you see a recommendation on their list that you think is worthy of recommending, click on this icon to weigh in!  If the user likes your recommendation, you will receive points!  If they think the media was ok, you will neither gain or lose points.  If they dislike the media, you will lose points.  Be thoughtful with your recommendations!
    </p>
    <p>
      <img src="/app/assets/images/blue_arrow.png" width="15" height="15"/> - This icon means that you've already recommended this media to a friend.  If you decide that you'd rather un-recommend it that's no problem!  You can click this icon to remove your recommendation and weigh-out.
    </p>
    <p>
      <img src="/app/assets/images/blue_r.jpg" width="15" height="15"/> - This icon stands for "recommend".  Click this icon to weigh in and recommend this media to a friend or multiple friends.  Your recommendation will automatically be added to other user's lists and weighed accordingly.  If the user likes your recommendation, you will receive points!  If they think the media was ok, you will neither gain or lose points.  If they dislike the media, you will lose points.  Be thoughtful with your recommendations!
    </p>

    <h2 class="text_center">Points</h2>
    <p>
      Points determine how much your recommendation weighs!  The more points you have, the more your recommendation will count when you recommend media to your friends.  There are two ways to earn points and one way to lose points.  The first way to earn points is if someone likes your recommendation.  You will receive points equal to every half hour of media that they have consumed.  The second way to earn points is to watch the media your friends have recommended.  Your opinion of the media does not affect whether you receive points - you will receive points for participating in the system.  Finally, you will lose points if a user dislikes your recommendation.  This should be a rare occurance - be thoughtful with your recommendations!
    </p>
  </div>
  <div class="login_right text_center">
    <h2 class="text_center">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>