<h1>All Movies</h1>

<div class="movies_wrapper">
	<% @movies.each do |movie| %>
		<div id=<%="movie_#{movie.id}"%> class="movie_row">
			<% case @current_user_likes[movie] %>
				<% when 1 %>
					<div class="icons"><%= image_tag 'green_circle.svg' %></div>
				<% when 0 %>
					<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
				<% when -1 %>
					<div class="icons"><%= image_tag 'red_circle.png' %></div>
				<% else %>
					<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
			<% end %>
			<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
			<br>
			Title: <%= link_to movie.title, movie_path(movie) %>
			<br>
			Year: <%= movie.year %>
			<br>
			Rated: <%= movie.rated %>
			<br>
			Released: <%= movie.released %>
			<br>
			Runtime: <%= movie.runtime %>
			<br>
			Genre: <%= movie.genre %>
			<br>
			Director: <%= movie.director %>
			<br>
			Writer: <%= movie.writer %>
			<br>
			Actors: <%= movie.actors %>
			<br>
			Plot: <%= movie.plot %>
			<br>
			Poster: 
			<br>
			<img src="<%= movie.poster %>">
			<br>
		</div>
	<% end %>
</div>