<h1 class="text_center">All Movies</h1>

<div class="media_index_wrapper">

	<h2 class="media_header">Most Viewed Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_watched_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
				Views: <%= movie.medium.watched_count %>
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
			</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Liked Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_liked_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
				Likes: <%= movie.medium.liked_count %>
				<br>
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
			</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Recommended Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_recommended_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
			Recommends: <%= movie.medium.recommended_count %>
			<br>
			<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
		</div>
		<% end %>
	</div>
	
	<% @tags.each_key do |tag| %>
		<h2 class="media_header"><%= link_to tag.name, tag %></h3>
		<div class="media_index_tag_wrapper">
			<% @tags[tag].each do |movie| %>
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
			<% end %>
		</div>
	<% end %>
</div>