<div class="movie_wrapper">
	<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: @movie, current_user: current_user } %>
	<br>
	Title: <%= @movie.title %>
	<br>
	Year: <%= @movie.year %>
	<br>
	Rated: <%= @movie.rated %>
	<br>
	Released: <%= @movie.released %>
	<br>
	Runtime: <%= @movie.runtime %>
	<br>
	Tags: <% @movie.medium.tags.each do |tag| %>
		<%= link_to tag.name,  tag_path(tag) %>
	<% end %>
	<br>
	Director: <%= @movie.director %>
	<br>
	Writer: <%= @movie.writer %>
	<br>
	Actors: <%= @movie.actors %>
	<br>
	Plot: <%= @movie.plot %>
	<br>
	Poster: 
	<br>
	<img src="<%= @movie.poster %>">
	<br>
	Number of people who have watched this Movie: <%= @movie.medium.watched_count %>
	<br>
	Number of people who like this Movie: <%= @movie.medium.liked_count %>
	<br>
	Number of people who meh this Movie: <%= @movie.medium.seen_count %>
	<br>
	Number of people who dislike this Movie: <%= @movie.medium.disliked_count %>
	<br>
	Number of people who have recommended this Movie: <%= @movie.medium.recommended_count %>
	<br>
	You have recommended this Movie to:
	<br>
	<% @movie.medium.recommended_to(current_user.id).each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
	Have recommended this Movie to you:
	<br>
	<% @movie.medium.recommended_by(current_user.id).each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
</div>