<div class="movie_wrapper">
	<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: @movie, current_user: current_user } %>
	<br>
	Title: <%= @movie.title %>
	<br>
	Year: <%= @movie.year %>
	<br>
	Rated: <%= @movie.rated %>
	<br>
	Released: <%= @movie.released %>
	<br>
	Runtime: <%= @movie.runtime %>
	<br>
	Tags: <% @movie.medium.tags.each do |tag| %>
		<%= link_to tag.name,  tag_path(tag) %>
	<% end %>
	<br>
	Director: <%= @movie.director %>
	<br>
	Writer: <%= @movie.writer %>
	<br>
	Actors: <%= @movie.actors %>
	<br>
	Plot: <%= @movie.plot %>
	<br>
	<div class="bar_mortice mortice_tiny" style="width: 30%">
	  <div class="progress progress_tiny green" style="width: <%= @percents[0] %>%;"></div>
	  <div class="progress progress_tiny yellow" style="width: <%= @percents[1] %>%;"></div>
	  <div class="progress progress_tiny red" style="width: <%= @percents[2] %>%;"></div>
	</div>
	<img src="<%= @movie.poster %>">
	<br>
	<br>
	Number of people who have recommended this Movie: <%= @movie.medium.recommended_count %>
	<br>
	You have recommended this Movie to:
	<br>
	<% @movie.medium.recommended_to(current_user.id).each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
	Have recommended this Movie to you:
	<br>
	<% @movie.medium.recommended_by(current_user.id).each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
	Friends who like this Movie:
	<br>
	<% @friends_like.each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
		Friends who have seen this Movie:
	<br>
	<% @friends_seen.each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
	Friends who dislike this Movie:
	<br>
		<% @friends_dislike.each do |person| %>
		<%= link_to person.name, user_path(person) %>
		<br>
	<% end %>
	<br>
</div>