<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<%= render partial: 'layouts/secondary_nav_bar', locals: { user: @user } %>

<div class="dashboard_container">
	<div class="dashboard_recents_list">
	<h3 class="text_center">Your friend's recent activity:</h3>
		<% @friends_recents.each do |note| %>
			<% case note.note_type %>
				<% when "RecNote" %>
					<div class="event_wrapper">
						<%= render partial: 'layouts/event_rec_note', locals: { note: note, user: @user } %>
						<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
					</div>
					<br>

				<% when "WatchedRecNote" %>
					<div class="event_wrapper">
						<%= render partial: 'layouts/event_watched_rec_note', locals: { note: note, user: @user } %>
						<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
					</div>
					<br>

				<% when "WatchedNote" %>
					<div class="event_wrapper">
						<%= render partial: 'layouts/event_watched_note', locals: { note: note, user: @user } %>
						<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
					</div>
					<br>

			<% end %>
		<% end %>
	</div>
</div>