<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to "#{@user.name}'s Profile", @user %></li>
  	<li><%= link_to "#{@user.name}'s Friends", friends_user_path(@user) %></li>
  	<li><%= link_to "#{@user.name}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.name}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class="endorsesaurus_container">
	<h2><%= @user.name %>'s Endorsesaurus Enclosure</h2>
</div>

<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.name %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
</div>

<div class="two_thirds_col">
	<h3>Your friend's recent activity:</h3>
	<ul class="dashboard_recents_list">
		<% @friends_recents.each do |notification| %>
			<% if notification.notification_type == "friends" %>
				<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> became friends with <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
				<br>
			<% elsif notification.media_type == "Movie" %>
				<% case notification.notification_type %>
					<% when "like" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> liked the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "seen" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> watched the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "dislike" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> disliked the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "recommendation" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> recommended the movie <%= link_to notification.media.title, movie_path(notification.media) %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
						<br>
					<% when "liked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> liked <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "seen rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> watched <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "disliked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> disliked <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
				<% end %>
			<% elsif notification.media_type == "Season" %>
				<% case notification.notification_type %>
					<% when "like" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> liked the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "seen" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> watched the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "dislike" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> disliked the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "recommendation" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> recommended the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
						<br>
					<% when "liked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> liked <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "seen rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> watched <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "disliked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> disliked <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>