<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<div class ="secondary-navbar-class">
  <ul class="secondary-navbar">
  	<li class="secondary-nav-element"><%= link_to "Profile", @user %></li>
  	<li class="secondary-nav-element"><%= link_to "Friends", friends_user_path(@user) %></li>
  	<li class="secondary-nav-element"><%= link_to "Movie List", movies_user_path(@user) %></li>
    <li class="secondary-nav-element"><%= link_to "Show List", shows_user_path(@user) %></li>
  </ul>
</div>

<div class="left_col">
</div>

<div class="two_thirds_col">
	<h3>Your friend's recent activity:</h3>
	<ul class="dashboard_recents_list">
		<% @friends_recents.each do |notification| %>
			<% if notification.notification_type == "friends" %>
				<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> became friends with <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
				<br>
			<% elsif notification.media_type == "Movie" %>
				<% case notification.notification_type %>
					<% when "like" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_liked">liked</span> the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "seen" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_seen">watched</span> the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "dislike" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_disliked">disliked</span> the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "recommendation" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_recommended">recommended</span> the movie <%= link_to notification.media.title, movie_path(notification.media) %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
						<br>
					<% when "liked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_liked">liked</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "seen rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_seen">watched</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
					<% when "disliked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_disliked">disliked</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
						<br>
				<% end %>
			<% elsif notification.media_type == "Season" %>
				<% case notification.notification_type %>
					<% when "like" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_liked">liked</span> the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "seen" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_seen">watched</span> the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "dislike" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_disliked">disliked</span> the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "recommendation" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_recommended">recommended</span> the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
						<br>
					<% when "liked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_liked">liked</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "seen rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_seen">watched</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
					<% when "disliked rec" %>
						<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> <span class="span_disliked">disliked</span> <%= link_to notification.user_one.name, user_path(notification.user_one) %>'s show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
						<br>
				<% end %>
			<% elsif notification.media_type == "Episode" %>
				<% case notification.notification_type %>
					<% when "like" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_liked">liked</span> <%= link_to notification.media.season.title, show_path(notification.media.season.show) %> season <%= notification.media.season.season_num %> episode <%= notification.media.episode_num %></li>
						<br>
					<% when "seen" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_seen">watched</span> <%= link_to notification.media.season.title, show_path(notification.media.season.show) %> season <%= notification.media.season.season_num %> episode <%= notification.media.episode_num %></li>
						<br>
					<% when "dislike" %>
						<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> <span class="span_disliked">disliked</span> <%= link_to notification.media.season.title, show_path(notification.media.season.show) %> season <%= notification.media.season.season_num %> episode <%= notification.media.episode_num %></li>
						<br>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>