<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<%= render partial: 'layouts/secondary_nav_bar', locals: { user: @user } %>

<div class="left_50">
	<h3 class="text_center">Show Recommendations:</h3>
	<div class="recommendation_wrapper">
		<% @recs.each do |rec| %>
			<%= render partial: 'layouts/recommended_show_layout', locals: { user: @user, current_user_likes: @current_user_likes, rec: rec, current_user: current_user, css_class: "recommendation" } %>
			<br>
		<% end %>
	</div>
</div>


<div class="right_50">
	<h3>
	<span class="likes_button">Likes</span> 
	<span class="seen_button">Seen</span> 
	<span class="dislikes_button">Dislikes</span>
	</h3>
	<div class="watched_wrapper">

		<div class="likes_wrapper">
			<% if @likes[1] && !@likes[1].empty? %>
				<% @likes[1].each do |like| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: like, current_user: current_user, css_class: "like"} %>	
					<br>
				<% end %>
			<% else %>
				<p>No likes to show!</p>
			<% end %>
		</div>

		<div class="seen_wrapper">
			<% if @likes[0] && !@likes[0].empty? %>
				<% @likes[0].each do |seen| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: seen, current_user: current_user, css_class: "seen"} %>	
					<br>
				<% end %>
			<% else %>
				<p>No seens to show!</p>
			<% end %>
		</div>

		<div class="dislikes_wrapper">
			<% if @likes[-1] && !@likes[-1].empty? %>
				<% @likes[-1].each do |dislike| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: dislike, current_user: current_user, css_class: "dislike"} %>	
					<br>
				<% end %>
			<% else %>
				<p>No dislikes to show!</p>
			<% end %>
		</div>
	</div>
</div>