<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>
<%= render partial: 'layouts/secondary_nav_bar', locals: { user: @user } %>

<div class="left_50">
	<h3 class="text_center">Show Recommendations:</h3>
	<div class="recommendation_wrapper">
		<% @recs.each do |rec| %>
			<%= render partial: 'layouts/recommended_show_layout', locals: { user: @user, current_user_likes: @current_user_likes, rec: rec, current_user: current_user, css_class: "recommendation" } %>
			<br>
		<% end %>
	</div>
</div>


<div class="right_50">
	<h3>
	<span class="likes_button">Likes</span> 
	<span class="seen_button">Seen</span> 
	<span class="dislikes_button">Dislikes</span>
	</h3>
	<div class="watched_wrapper">

		<div class="likes_wrapper">
			<% if @likes && !@likes.empty? %>
				<% @likes.each_pair do |show| %>
					<%= render partial: 'layouts/show_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, progress: @progress} %>	
				<% end %>
			<% else %>
				<p>No likes to show!</p>
			<% end %>
		</div>

		<div class="seen_wrapper">
			<% if @seens && !@seens.empty? %>
				<% @seens.each_pair do |show| %>
					<%= render partial: 'layouts/show_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, progress: @progress} %>	
				<% end %>
			<% else %>
				<p>No seens to show!</p>
			<% end %>
		</div>

		<div class="dislikes_wrapper">
			<% if @dislikes && !@dislikes.empty? %>
				<% @dislikes.each_pair do |show| %>
					<%= render partial: 'layouts/show_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, progress: @progress} %>	
				<% end %>
			<% else %>
				<p>No dislikes to show!</p>
			<% end %>
		</div>
	</div>
</div>