<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to "#{@user.name}'s Profile", @user %></li>
  	<li><%= link_to "#{@user.name}'s Friends", friends_user_path(@user) %></li>
  	<li><%= link_to "#{@user.name}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.name}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class ="endorsesaurus_container">
	<h2><%= @user.name %>'s Endorsesaurus Enclosure</h2>
</div>
<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.name %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
  <% if current_user != @user && current_user.pending_friends.include?(@user)%>
  	Friendship Pending...
	<% elsif current_user != @user && !current_user.friends.include?(@user) %>
    <% if current_user.requested_friendships.include?(@user) %>
      <%= link_to "Accept Friend", friendship_path(:id => @user), :method => "put" %> 
    <% else %>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% end %>
  <% end %>
</div>

<div class="two_thirds_col">
	<h3><%= @user.name %>'s Recent Activity</h3>
	<ul>
		<% @recent_activity.each do |notification| %>
			<% if notification.notification_type == "like" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> liked the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> liked the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "seen" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> watched the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> watched the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "dislike" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> disliked the movie <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> disliked the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "friends" %>
				<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> became friends with <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
				<br>
			<% elsif notification.notification_type == "recommendation" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> recommended the movie <%= link_to notification.media.title, movie_path(notification.media) %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_one.name, user_path(notification.user_one) %> recommended the show <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %> to <%= link_to notification.user_two.name, user_path(notification.user_two) %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "liked rec" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> liked <%= link_to notification.user_one.name, user_path(notification.user_one) %> movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> liked <%= link_to notification.user_one.name, user_path(notification.user_one) %> show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "seen rec" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> watched <%= link_to notification.user_one.name, user_path(notification.user_one) %> movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> watched <%= link_to notification.user_one.name, user_path(notification.user_one) %> show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% elsif notification.notification_type == "disliked rec" %>
				<% if notification.media_type == "Movie" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> disliked <%= link_to notification.user_one.name, user_path(notification.user_one) %> movie recommendation <%= link_to notification.media.title, movie_path(notification.media) %></li>
				<% elsif notification.media_type == "Season" %>
					<li><%= link_to notification.user_two.name, user_path(notification.user_two) %> disliked <%= link_to notification.user_one.name, user_path(notification.user_one) %> show recommendation <%= link_to notification.media.title, show_path(notification.media.show) %> season <%= notification.media.season_num %></li>
				<% end %>
				<br>
			<% end %>
		<% end %>
	</ul>
</div>


