<div class="endorsesaurus_container">
	<h2><%= @user.name %>'s Endorsesaurus Enclosure</h2>
</div>
<div class ="secondary-navbar-class">
  <ul class="secondary-navbar">
  	<li class="secondary-nav-element"><%= link_to "Profile", @user %></li>
  	<li class="secondary-nav-element"><%= link_to "Friends", friends_user_path(@user) %></li>
  	<li class="secondary-nav-element"><%= link_to "Movie List", movies_user_path(@user) %></li>
    <li class="secondary-nav-element"><%= link_to "Show List", shows_user_path(@user) %></li>
  </ul>
</div>

<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.name %></h2>
		<h2>Points: <%= @user.points %></h2>
	</div>
	<% if current_user != @user && current_user.pending_friends.include?(@user)%>
  	Friendship Pending...
	<% elsif current_user != @user && !current_user.friends.include?(@user) %>
    <% if current_user.requested_friendships.include?(@user) %>
      <%= link_to "Accept Friend", friendship_path(:id => @user), :method => "put" %> 
    <% else %>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
    <% end %>
  <% end %>

	<h3 class="text_center">Recent Show Activity:</h3>
	<div class="recent_wrapper">
		<% @recently_watched.each_key do |like| %>
			<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: like, current_user: current_user, recent: true, css_class: "recent" } %>	
			<br>
		<% end %>
	</div>
</div>

<div class="center_col">
	<h3 class="text_center">Show Recommendations:</h3>
	<div class="recommendation_wrapper">
		<% @recs.each do |rec| %>
			<%= render partial: 'layouts/recommended_show_layout', locals: { user: @user, current_user_likes: @current_user_likes, rec: rec, current_user: current_user, css_class: "recommendation" } %>
			<br>
		<% end %>
	</div>
</div>


<div class="right_col">
	<h3>
	<span class="likes_button">Likes</span> 
	<span class="seen_button">Seen</span> 
	<span class="dislikes_button">Dislikes</span></h3>
	<div class="watched_wrapper">

		<div class="likes_wrapper">
			<% if @likes[1] %>
				<% @likes[1].each do |like| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: like, current_user: current_user, recent: false, css_class: "like"} %>	
					<br>
				<% end %>
			<% end %>
		</div>

		<div class="seen_wrapper">
			<% if @likes[0] %>
				<% @likes[0].each do |seen| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: seen, current_user: current_user, recent: false, css_class: "seen"} %>	
					<br>
				<% end %>
			<% end %>
		</div>

		<div class="dislikes_wrapper">
			<% if @likes[-1] %>
				<% @likes[-1].each do |dislike| %>
					<%= render partial: 'layouts/season_layout', locals: { recently_watched: @recently_watched, user: @user, user_likes: @user_likes, current_user_likes: @current_user_likes, placeholder: dislike, current_user: current_user, recent: false, css_class: "dislike"} %>	
					<br>
				<% end %>
			<% end %>
		</div>
	</div>
</div>