<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to "#{@user.name}'s Profile", @user %></li>
  	<li><%= link_to "#{@user.name}'s Friends", friends_user_path(@user) %></li>
  	<li><%= link_to "#{@user.name}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.name}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class ="endorsesaurus_container">
	<h2>Endorsesaurus Enclosure</h2>
</div>
<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.name %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
  <% if current_user != @user && current_user.pending_friends.include?(@user)%>
  	Friendship Pending...
	<% elsif current_user != @user && !current_user.friends.include?(@user) %>
    <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
  <% end %>
</div>

<div class="two_thirds_col">

		<h3>Recent Activity:</h3>

	<div class="recent_activity_wrapper">
		<% @recent_activity.each_key do |record| %>
			<div id=<%="recent_activity_#{record.id}"%> class="recent_activity_row"
				<% if !@recent_activity[record][1].is_a? Integer %>
				<% elsif @recent_activity[record][1] == 1 %>
					style="background-color:green;"
				<% elsif @recent_activity[record][1] == -1 %>
					style="background-color:red;"
				<% elsif @recent_activity[record][1] == 0 %>
					style="background-color:yellow;"
				<% end %>	>

				<% if @recent_activity[record][0] == "Like"%>
					<% if @recent_activity[record][1] == 1 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.name} liked the Movie "%><%= link_to record.title, movie_path(record) %>
							<br>
							<%= record.created_at %>
						<% else %>
							<%= "#{@user.name} liked the Show "%><%= link_to record.title, show_path(record.show) %><%=" Season #{record.season_num}!" %>
							<br>
							<%= record.created_at %>
						<% end %>
					<% elsif @recent_activity[record][1] == 0 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.name} saw the Movie "%><%= link_to record.title, movie_path(record) %>
							<br>
							<%= record.created_at %>
						<% else %>
							<%= "#{@user.name} saw the Show "%><%= link_to record.title, show_path(record.show) %><%=" Season #{record.season_num}!" %>
							<br>
							<%= record.created_at %>
						<% end %>
					<% elsif @recent_activity[record][1] == -1 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.name} disliked the Movie "%><%= link_to record.title, movie_path(record) %>
							<br>
							<%= record.created_at %>
						<% else %>
							<%= "#{@user.name} disliked the Show "%><%= link_to record.title, show_path(record.show) %><%=" Season #{record.season_num}!" %>
							<br>
							<%= record.created_at %>
						<% end %>
					<% end %>
				<% elsif @recent_activity[record][0] == "R-To"%>
				 <% if record.medium.media_type == "Movie" %>
						<%= "#{@user.name} Recommended the Movie "%><%= link_to record.title, movie_path(record) %> to <%= link_to @recent_activity[record][1].name, @recent_activity[record][1] %>
						<%= record.created_at %>
					<% else %>
						<%= "#{@user.name} Recommended the Show "%><%= link_to record.title, show_path(record.show) %><%=" Season #{record.season_num} to "%><%= link_to @recent_activity[record][1].name, @recent_activity[record][1] %>
						<br>
						<%= record.created_at %>
					<% end %>
				<% elsif @recent_activity[record][0] == "R-From" %>
					<% if record.medium.media_type == "Movie" %>
						<%= link_to @recent_activity[record][1].name, @recent_activity[record][1] %> Recommended the Movie <%= link_to record.title, movie_path(record) %><%=" to #{@user.name}!" %>
						<br>
						<%= record.created_at %>
					<% else %>
						<%= link_to @recent_activity[record][1].name, @recent_activity[record][1] %> Recommended the Show <%= link_to record.title, show_path(record.show) %><%=" Season #{record.season_num} to #{@user.name}!" %>
						<br>
						<%= record.created_at %>
					<% end %>
				<% end %>
				<br>
				<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: record, current_user: current_user } %>
			</div>
		<% end %>
	</div>
</div>


