<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>


<div class="profile_wrapper">

	<div class="badges_container">
		<h3 class="text_center">Badges</h3>
	</div>

	<div class="infographics">
		<div class="most_liked_genres">
			<h3 class="text_center">Most Liked Genres</h3>
			<%= pie_chart(@most_liked_genres) %>
		</div>
		<div class="likes_distribution">
			<h3 class="text_center">Likes Distribution</h3>
			<%= pie_chart(@likes_distribution) %>
		</div>
		<div class="shows_vs_movies">
			<h3 class="text_center">Shows vs Movies</h3>
			<%= pie_chart(@shows_vs_movies) %>
		</div>
	</div>

	<div class="recent_activity">
		<div class="dashboard_recents_list">
			<h3 class="text_center"><%= @user.name %>'s Recent Activity</h3>
			<% @recent_activity.each do |note| %>
				<% case note.note_type %>
					<% when "RecNote" %>
						<div class="profile_event_wrapper">
							<%= render partial: 'layouts/event_rec_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/event_poster', locals: { media: note.media } %>
						</div>

					<% when "WatchedRecNote" %>
						<div class="profile_event_wrapper">
							<%= render partial: 'layouts/event_watched_rec_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/event_poster', locals: { media: note.media } %>
						</div>

					<% when "WatchedNote" %>
						<div class="profile_event_wrapper">
							<%= render partial: 'layouts/event_watched_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/event_poster', locals: { media: note.media } %>
						</div>

				<% end %>
				<br>
			<% end %>
		</div>
	</div>
</div>