<%= render partial: 'layouts/endorsesaurus_enclosure', locals: { current_user: current_user, user: @user } %>


<div class="dashboard_container">
	<div class="profile_left_column">
		<div class="badges_container">
			<h3 class="text_center">Badges</h3>
		</div>
		<br>
		<div class="most_liked_genres">
			<h3 class="text_center">Most Liked Genres</h3>
			<%= pie_chart(@most_liked_genres, discrete: true) %>
		</div>
		<br>
		<div class="likes_distribution">
			<h3 class="text_center">Likes Distribution</h3>
			<%= pie_chart(@likes_distribution, discrete: true) %>
		</div>
		<br>
		<div class="shows_vs_movies">
			<h3 class="text_center">Shows vs Movies</h3>
			<%= pie_chart(@shows_vs_movies, discrete: true) %>
		</div>
	</div>
	<div class="profile_right_column">
		<div class="dashboard_recents_list">
			<h3 class="text_center"><%= @user.name %>'s Recent Activity</h3>
			<% @recent_activity.each do |note| %>
				<% case note.note_type %>
					<% when "RecNote" %>
						<div class="event_wrapper">
							<%= render partial: 'layouts/event_rec_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
						</div>

					<% when "WatchedRecNote" %>
						<div class="event_wrapper">
							<%= render partial: 'layouts/event_watched_rec_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
						</div>

					<% when "WatchedNote" %>
						<div class="event_wrapper">
							<%= render partial: 'layouts/event_watched_note', locals: { note: note, user: @user } %>
							<%= render partial: 'layouts/poster_icon_large', locals: { media: note.media } %>
						</div>

				<% end %>
				<br>
			<% end %>
		</div>
	</div>
</div>