<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to "#{@user.email}'s Profile", @user %></li>
  	<li><%= link_to "#{@user.email}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.email}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.email %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
</div>

<div class="two_thirds_col">

		<h3>Recent Activity:</h3>

	<div class="recent_activity_wrapper">
		<% @recent_activity.each_key do |record| %>
			<div id=<%="recent_activity_#{record.id}"%> class="recent_activity_row"
				<% if !@recent_activity[record][1].is_a? Integer %>
				<% elsif @recent_activity[record][1] == 1 %>
					style="background-color:green;"
				<% elsif @recent_activity[record][1] == -1 %>
					style="background-color:red;"
				<% elsif @recent_activity[record][1] == 0 %>
					style="background-color:yellow;"
				<% end %>	>

				<% if @recent_activity[record][0] == "Like"%>
					<% if @recent_activity[record][1] == 1 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} liked the Movie #{record.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} liked the Show #{record.show.title} Season #{record.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% elsif @recent_activity[record][1] == 0 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} saw the Movie #{record.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} saw the Show #{record.show.title} Season #{record.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% elsif @recent_activity[record][1] == -1 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} disliked the Movie #{record.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} disliked the Show #{record.show.title} Season #{record.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% end %>
				<% elsif @recent_activity[record][0] == "R-To"%>
				 <% if record.medium.media_type == "Movie" %>
						<%= "#{@user.email} Recommended the Movie #{record.title} to #{@recent_activity[record][1].email}!" %>
						<%= record.created_at %>
						<br>
					<% else %>
						<%= "#{@user.email} Recommended the Show #{record.show.title} Season #{record.season_num} to #{@recent_activity[record][1].email}!" %>
						<%= record.created_at %>
						<br>
					<% end %>
				<% elsif @recent_activity[record][0] == "R-From" %>
					<% if record.medium.media_type == "Movie" %>
						<%= "#{@recent_activity[record][1].email} Recommended the Movie #{record.title} to #{@user.email}!" %>
						<%= record.created_at %>
						<br>
					<% else %>
						<%= "#{@recent_activity[record][1].email} Recommended the Show #{record.show.title} Season #{record.season_num} to #{@user.email}!" %>
						<%= record.created_at %>
						<br>
					<% end %>
				<% end %>
				<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: record, current_user: current_user } %>
			</div>
		<% end %>
	</div>
</div>


