<h1 class="text_center"><%= @tag.name %></h1>

<% if !@movies.empty?%>

	<h2 class="media_header">Most Viewed <%= @tag.name %> Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_watched_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
				Views: <%= movie.medium.watched_count %>
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
			</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Liked <%= @tag.name %> Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_liked_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
				Likes: <%= movie.medium.liked_count %>
				<br>
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
			</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Recommended <%= @tag.name %> Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @most_recommended_movies.each do |movie| %>
			<div class="media_index_element_wrapper">
			Recommends: <%= movie.medium.recommended_count %>
			<br>
			<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id]} %>
		</div>
		<% end %>
	</div>

	<h2 class="media_header">All <%= @tag.name %> Movies</h2>
	<div class="media_index_tag_wrapper">
		<% @movies.each do |movie| %>
			<div class="media_index_element_wrapper">
				<%= render partial: 'layouts/media_movie_layout', locals: { current_user_likes: @current_user_movie_likes, placeholder: movie, current_user: current_user, percent: @percents[movie.medium_id] } %>
			</div>
		<% end %>
	</div>
<% end %>
