<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to "#{@user.email}'s Profile", user_path(@user) %></li>
  	<li><%= link_to "#{@user.email}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.email}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.email %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
</div>

<div class="center_col">

		<h3>Recent Activity:</h3>

	<div class="recent_wrapper">
		<% @recent_activity.each_key do |record| %>
			<div id=<%="recent_activity_#{record.id}"%> class="recent_activity_row"
				<% if !record.has_attribute?(:value) %>
				<% elsif record.value == 1 %>
					style="background-color:green;"
				<% elsif record.value == -1 %>
					style="background-color:red;"
				<% elsif record.value == 0 %>
					style="background-color:yellow;"
				<% end %>	>

				<% if @recent_activity[record] == "Like"%>
					<% if record.value == 1 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} liked the Movie #{record.find_associated_media.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} liked the Show #{record.find_associated_media.show.title} Season #{record.find_associated_media.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% elsif record.value == 0 %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} saw the Movie #{record.find_associated_media.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} saw the Show #{record.find_associated_media.show.title} Season #{record.find_associated_media.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% else %>
					  <% if record.medium.media_type == "Movie" %>
							<%= "#{@user.email} disliked the Movie #{record.find_associated_media.title}!" %>
							<%= record.created_at %>
							<br>
						<% else %>
							<%= "#{@user.email} disliked the Show #{record.find_associated_media.show.title} Season #{record.find_associated_media.season_num}!" %>
							<%= record.created_at %>
							<br>
						<% end %>
					<% end %>
				<% elsif @recent_activity[record] == "Recommended To"%>
				 <% if record.medium.media_type == "Movie" %>
						<%= "#{@user.email} Recommended the Movie #{record.find_associated_media.title} to #{record.receiver.email}!" %>
						<%= record.created_at %>
						<br>
					<% else %>
						<%= "#{@user.email} Recommended the Show #{record.find_associated_media.show.title} Season #{record.find_associated_media.season_num} to #{record.receiver.email}!" %>
						<%= record.created_at %>
						<br>
					<% end %>
				<% else %>
					<% if record.medium.media_type == "Movie" %>
						<%= "#{record.sender.email} Recommended the Movie #{record.find_associated_media.title} to #{record.receiver.email}!" %>
						<%= record.created_at %>
						<br>
					<% else %>
						<%= "#{record.sender.email} Recommended the Show #{record.find_associated_media.show.title} Season #{record.find_associated_media.season_num} to #{record.receiver.email}!" %>
						<%= record.created_at %>
						<br>
					<% end %>
				<% end %>
					<% case @current_user_likes[record.medium_id] %>
						<% when 1 %>
							<div class="icons"><%= image_tag 'green_circle.svg' %></div>
						<% when 0 %>
							<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
						<% when -1 %>
							<div class="icons"><%= image_tag 'red_circle.png' %></div>
						<% else %>
							<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
					<% end %>
					<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
					<!-- open up a new window that contains current_user.friends
										select which friends you'd like to recommend it to
										press recommend button to confirm
										(This creates however many new recommendations)
								current_user.friends
						-->
					<br>
			</div>
		<% end %>
	</div>
</div>


