<div class ="secondary-navbar-class">
  <ul class="secondary-navbar-nav">
  	<li><%= link_to @user.email, user_path(@user) %></li>
  	<li><%= link_to "#{@user.email}'s Movies", movies_user_path(@user) %></li>
    <li><%= link_to "#{@user.email}'s Shows", shows_user_path(@user) %></li>
  </ul>
</div>
<div class="left_col">
	<div class="photo"><%= image_tag 'profile.jpg' %></div>
	<div class=profile_info>
		<h2><%= @user.email %></h2>
		<h2>My Points: <%= @user.points %></h2>
	</div>
	<h3>Recent Activity:</h3>

	<div class="recent_wrapper">
		<% @recently_watched.each_key do |like| %>

			<div id=<%="#{like.id}"%> class="recent_row"
				<%if @recently_watched[like] == 1 %>
					style="background-color:green;"
				<% elsif @recently_watched[like] == -1 %>
					style="background-color:red;"
				<% else %>
					style="background-color:yellow;"
				<% end %>	>
				Title: <%= like.show.title %>
				<br>
				Season: <%= like.season_num %>
				<br>
				<%= like.created_at %>
				<br>

				<% case @current_user_likes[like] %>
					<% when 1 %>
						<div class="icons"><%= image_tag 'green_circle.svg' %></div>
					<% when 0 %>
						<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
					<% when -1 %>
						<div class="icons"><%= image_tag 'red_circle.png' %></div>
					<% else %>
						<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
				<% end %>
				<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
				<!-- open up a new window that contains current_user.friends
									select which friends you'd like to recommend it to
									press recommend button to confirm
									(This creates however many new recommendations)
							current_user.friends
					-->
				<br>
			</div>

			<div id=<%="ex_recent_#{like.id}"%> class="ex_recent_row"
				<%if @recently_watched[like] == 1 %>
					style="background-color:green;"
				<% elsif @recently_watched[like] == -1 %>
					style="background-color:red;"
				<% else %>
					style="background-color:yellow;"
				<% end %>	>
				Title: <%= like.show.title %>
				<br>
				Season: <%= like.season_num %>
				<br>
				Year: <%= like.show.year %>
				<br>
				Rated: <%= like.show.rated %>
				<br>
				Released: <%= like.show.released %>
				<br>
				Runtime: <%= like.show.runtime %>
				<br>
				Tags: <% like.show.medium.tags.each do |tag| %>
					<%= link_to tag.name,  tag_path(tag) %>
				<% end %>
				<br>
				Creator: <%= like.show.creator %>
				<br>
				Actors: <%= like.show.actors %>
				<br>
				Plot: <%= like.show.plot %>
				<br>
				Poster: 
				<br>
				<img src="<%= like.show.poster %>">
				<br>
			</div>
			<br>
		<% end %>
	</div>
</div>

<div class="center_col">

	<h3>Recommendations:</h3>
	<div class="rec_wrapper">
		<% @recs.each do |rec| %>

			<div id=<%="#{rec.info.id}"%> class="rec_row">
				Recommendation Points: <%= rec.user_points %>
				<br>
				Media Points: <%= rec.info.points %>
				<br>
				Title: <%= rec.info.show.title %>
				<br>
				Season: <%= rec.info.season_num %>
				<br>
				<%= rec.rec_by.count %>
				<br>

				<% case @current_user_likes[rec.info] %>
					<% when 1 %>
						<div class="icons"><%= image_tag 'green_circle.svg' %></div>
					<% when 0 %>
						<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
					<% when -1 %>
						<div class="icons"><%= image_tag 'red_circle.png' %></div>
					<% else %>
						<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
				<% end %>
				<!-- if profile is not the current_user's -->
				<% if rec.rec_by_user?(current_user.id) %>
					<div class="icons"><%= image_tag 'blue_arrow.png' %></div>
				<% else %>
					<div class="icons"><%= image_tag 'white_arrow.jpg' %></div>
				<% end %>

				<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
				<br>

			</div>

			<div id=<%="ex_rec_#{rec.info.id}"%> class="ex_rec_row">
	<!-- 			# upvote button -->
				Recommendation Points: <%= rec.user_points %>
				<br>
				Media Points: <%= rec.info.points %>
				<br>
				Title: <%= rec.info.show.title %>
				<br>
				Season: <%= rec.info.season_num %>
				<br>
				Year: <%= rec.info.show.year %>
				<br>
				Rated: <%= rec.info.show.rated %>
				<br>
				Released: <%= rec.info.show.released %>
				<br>
				Runtime: <%= rec.info.show.runtime %>
				<br>
				Tags: <% rec.info.show.medium.tags.each do |tag| %>
					<%= link_to tag.name,  tag_path(tag) %>
				<% end %>
				<br>
				Creator: <%= rec.info.show.creator %>
				<br>
				Actors: <%= rec.info.show.actors %>
				<br>
				Plot: <%= rec.info.show.plot %>
				<br>
				Poster: 
				<br>
				<img src="<%= rec.info.show.poster %>">
				<br>
				Recommended By: 
				<br>
				<% rec.rec_by.each do |user| %>
					<%= user.email %>
					<%= user.points %>
				<% end %>
	<!-- 			# opinion/seen button
				#  -->
			</div>
			<br>
		<% end %>
	</div>
</div>


<div class="right_col">
	<h3>Likes/Seen/Dislikes</h3>
	<div class="seen_wrapper">

<!-- 	<div class="seen_title">
		<div class="title"><h3>Likes</h3></div>
		<div class="title"><h3>Seen</h3></div>
		<div class="title"><h3>Dislikes</h3></div>
	</div>
	<br>
-->

		<h3>Likes:</h3>
		<% if @likes[1] %>
			<% @likes[1].each do |like| %>

				<div id=<%="#{like.id}"%> class="like_row" style="background-color:green;">
					Title: <%= like.show.title %>
					<br>
					Season: <%= like.season_num %>
					<br>
					<% case @current_user_likes[like] %>
						<% when 1 %>
							<div class="icons"><%= image_tag 'green_circle.svg' %></div>
						<% when 0 %>
							<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
						<% when -1 %>
							<div class="icons"><%= image_tag 'red_circle.png' %></div>
						<% else %>
							<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
					<% end %>
					<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
					<!-- open up a new window that contains current_user.friends
									select which friends you'd like to recommend it to
									press recommend button to confirm
									(This creates however many new recommendations)
					-->
					<br>
				</div>

				<div id=<%="ex_like_#{like.id}"%> class="ex_like_row">
					Title: <%= like.show.title %>
					<br>
					Season: <%= like.season_num %>
					<br>
					Year: <%= like.show.year %>
					<br>
					Rated: <%= like.show.rated %>
					<br>
					Released: <%= like.show.released %>
					<br>
					Runtime: <%= like.show.runtime %>
					<br>
					Tags: <% like.show.medium.tags.each do |tag| %>
						<%= link_to tag.name,  tag_path(tag) %>
					<% end %>
					<br>
					Creator: <%= like.show.creator %>
					<br>
					Actors: <%= like.show.actors %>
					<br>
					Plot: <%= like.show.plot %>
					<br>
					Poster: 
					<br>
					<img src="<%= like.show.poster %>">
					<br>
				</div>
				<br>
			<% end %>
		<% end %>

		<h3>Seen:</h3>
		<% if @likes[0] %>
			<% @likes[0].each do |seen| %>

				<div id=<%="#{seen.id}"%> class="seen_row" style="background-color:yellow;">
					Title: <%= seen.show.title %>
					<br>
					Season: <%= seen.season_num %>
					<br>
					<% case @current_user_likes[seen] %>
						<% when 1 %>
							<div class="icons"><%= image_tag 'green_circle.svg' %></div>
						<% when 0 %>
							<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
						<% when -1 %>
							<div class="icons"><%= image_tag 'red_circle.png' %></div>
						<% else %>
							<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
					<% end %>
					<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
					<!-- open up a new window that contains current_user.friends
									select which friends you'd like to recommend it to
									press recommend button to confirm
									(This creates however many new recommendations)
					-->
					<br>
				</div>

				<div id=<%="ex_seen_#{seen.id}"%> class="ex_seen_row">
					Title: <%= seen.show.title %>
					<br>
					Season: <%= seen.season_num %>
					<br>
					Year: <%= seen.show.year %>
					<br>
					Rated: <%= seen.show.rated %>
					<br>
					Released: <%= seen.show.released %>
					<br>
					Runtime: <%= seen.show.runtime %>
					<br>
					Tags: <% seen.show.medium.tags.each do |tag| %>
						<%= link_to tag.name,  tag_path(tag) %>
					<% end %>
					<br>
					Creator: <%= seen.show.creator %>
					<br>
					Actors: <%= seen.show.actors %>
					<br>
					Plot: <%= seen.show.plot %>
					<br>
					Poster:
					<br>
					<img src="<%= seen.show.poster %>">
					<br>
				</div>
				<br>
			<% end %>
		<% end %>

		<h3>Dislikes:</h3>
		<% if @likes[-1] %>
			<% @likes[-1].each do |dislike| %>

				<div id=<%="#{dislike.id}"%> class="dislike_row" style="background-color:red;">
					Title: <%= dislike.show.title %>
					<br>
					Season: <%= dislike.season_num %>
					<br>
					<% case @current_user_likes[dislike] %>
						<% when 1 %>
							<div class="icons"><%= image_tag 'green_circle.svg' %></div>
						<% when 0 %>
							<div class="icons"><%= image_tag 'yellow_circle.png' %></div>
						<% when -1 %>
							<div class="icons"><%= image_tag 'red_circle.png' %></div>
						<% else %>
							<div class="icons"><%= image_tag 'white_circle.jpeg' %></div>
					<% end %>
					<div class="icons"><%= image_tag 'blue_r.jpg' %></div>
					<!-- open up a new window that contains current_user.friends
									select which friends you'd like to recommend it to
									press recommend button to confirm
									(This creates however many new recommendations)
					-->
					<br>
				</div>

				<div id=<%="ex_dislike_#{dislike.id}"%> class="ex_dislike_row">
					Title: <%= dislike.show.title %>
					<br>
					Season: <%= dislike.season_num %>
					<br>
					Year: <%= dislike.show.year %>
					<br>
					Rated: <%= dislike.show.rated %>
					<br>
					Released: <%= dislike.show.released %>
					<br>
					Runtime: <%= dislike.show.runtime %>
					<br>
					Tags: <% dislike.show.medium.tags.each do |tag| %>
						<%= link_to tag.name,  tag_path(tag) %>
					<% end %>
					<br>
					Creator: <%= dislike.show.creator %>
					<br>
					Actors: <%= dislike.show.actors %>
					<br>
					Plot: <%= dislike.show.plot %>
					<br>
					Poster:
					<br>
					<img src="<%= dislike.show.poster %>">
					<br>
				</div>
				<br>
			<% end %>
		<% end %>
	</div>
</div>