<h1 class="text_center">All Shows</h1>

<div class="shows_index_wrapper">

	<h2 class="media_header">Most Viewed Shows</h2>
	<div class="media_index_tag_wrapper">
		<% @most_watched_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Views: <%= show.medium.watched_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Liked Shows</h2>
	<div class="media_index_tag_wrapper">
		<% @most_liked_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Likes: <%= show.medium.liked_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>

	<h2 class="media_header">Most Recommended Shows</h2>
	<div class="media_index_tag_wrapper">
		<% @most_recommended_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Recommends: <%= show.medium.recommended_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>
	
	<% @tags.each_key do |tag| %>
		<h2 class="media_header"><%= link_to tag.name, tag %></h3>
		<div class="media_index_tag_wrapper">
			<% @tags[tag].each do |show| %>
				<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
			<% end %>
		</div>
	<% end %>
</div>