<h1 class="text_center">All Shows</h1>

<div class="shows_index_wrapper">

	<div class="shows_index_tag_wrapper">
		<h2 class="text_center">Most Watched Shows</h2>
		<% @most_watched_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Watched Count: <%= show.medium.watched_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>
	<br>

	<div class="shows_index_tag_wrapper">
		<h2 class="text_center">Most Liked Shows</h2>
		<% @most_liked_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Liked Count: <%= show.medium.liked_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>
	<br>

	<div class="shows_index_tag_wrapper">
		<h2 class="text_center">Most Recommended Shows</h2>
		<% @most_recommended_shows.each do |show| %>
			<div class="media_index_element_wrapper">
			Rec Count: <%= show.medium.recommended_count %>
			<br>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		</div>
		<% end %>
	</div>
	<br>
	
	<% @tags.each_key do |tag| %>
		<div class="shows_index_tag_wrapper">
		<h3 class="text_center"><%= tag.name %></h3>
		<% @tags[tag].each do |show| %>
			<%= render partial: 'layouts/media_show_layout', locals: { current_user_likes: @current_user_likes, placeholder: show, current_user: current_user, percent: @percents[show.medium_id] } %>
		<% end %>
		<br>
		</div>
	<% end %>
</div>