<div class="show_wrapper">
	<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: @show, current_user: current_user } %>
	<br>
	Title: <%= @show.title %>
	<br>
	Year: <%= @show.year %>
	<br>
	Rated: <%= @show.rated %>
	<br>
	Released: <%= @show.released %>
	<br>
	Runtime: <%= @show.runtime %>
	<br>
	Tags: <% @show.medium.tags.each do |tag| %>
		<%= link_to tag.name,  tag_path(tag) %>
	<% end %>
	<br>
	Creator: <%= @show.creator %>
	<br>
	Actors: <%= @show.actors %>
	<br>
	Plot: <%= @show.plot %>
	<br>
	Poster: 
	<br>
	<img src="<%= @show.poster %>">
	<br>
	<br>
</div>
<div class="horizontal-combo-container">
    <div class="horizontal-combo-mortice">
        <div class="combo-fill" style="width: 20%">
            <div class="combo-label">
                Unwatched
            </div>
            <div class="fill-amount">
                20%
            </div>
        </div>
        <div class="combo-fill green" style="width: 35%">
            <div class="combo-label green-container">
                Liked
            </div>
            <div class="fill-amount green-mortice">
                35%
            </div>
        </div>
        <div class="combo-fill orange" style="width: 35%">
            <div class="combo-label orange-container">
                Meh
            </div>
            <div class="fill-amount orange-mortice">
                35%
            </div>
        </div>
        <div class="combo-fill pink" style="width: 0%">
            <div class="combo-label pink-container">
                Disliked
            </div>
            <div class="fill-amount pink-mortice">
                0%
            </div>
        </div>
    </div>
</div>

<div class ="season_wrapper">
	<% @seasons.each do |season| %>
		<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: season, current_user: current_user } %>		
		<br>
		Season: <%= season.season_num %>
		<br>
		Points: <%= season.points %>
		<br>
		Number of people who have watched this season: <%= season.medium.watched_count %>
		<br>
		Number of people who like this season: <%= season.medium.liked_count %>
		<br>
		Number of people who meh this season: <%= season.medium.seen_count %>
		<br>
		Number of people who dislike this season: <%= season.medium.disliked_count %>
		<br>
		Number of people who have recommended this season: <%= season.medium.recommended_count %>
		<br>
		You have recommended this season to:
		<br>
		<% season.medium.recommended_to(current_user.id).each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Have recommended this season to you:
		<br>
		<% season.medium.recommended_by(current_user.id).each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Friends who like this Seaon:
		<br>
		<% @season_likes[[season.medium.id, 1]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
			Friends who have seen this Seaon:
		<br>
		<% @season_likes[[season.medium.id, 0]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Friends who dislike this Seaon:
		<br>
			<% @season_likes[[season.medium.id, -1]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
	<% end %>
</div>