<div class="show_wrapper">
	<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: @show, current_user: current_user } %>
	<br>
	Title: <%= @show.title %>
	<br>
	Year: <%= @show.year %>
	<br>
	Rated: <%= @show.rated %>
	<br>
	Released: <%= @show.released %>
	<br>
	Runtime: <%= @show.runtime %>
	<br>
	Tags: <% @show.medium.tags.each do |tag| %>
		<%= link_to tag.name,  tag_path(tag) %>
	<% end %>
	<br>
	Creator: <%= @show.creator %>
	<br>
	Actors: <%= @show.actors %>
	<br>
	Plot: <%= @show.plot %>
	<br>
	<div class="bar_mortice mortice_tiny" style="width: 266px">
	  <div class="progress progress_tiny green" style="width: <%= @percents[0] %>%;"></div>
	  <div class="progress progress_tiny yellow" style="width: <%= @percents[1] %>%;"></div>
	  <div class="progress progress_tiny red" style="width: <%= @percents[2] %>%;"></div>
	</div>
	<img src="<%= @show.poster %>" class="full_poster">
	<br>
</div>
<!-- Your Progress:
<div class="bar_mortice" style="width: 50%">
  <div class="progress green" style="width: <%= @current_user_progress[0] %>%;"></div>
  <div class="progress yellow" style="width: <%= @current_user_progress[1] %>%;"></div>
  <div class="progress red" style="width: <%= @current_user_progress[2] %>%;"></div>
  <div class="progress blue" style="width: <%= @current_user_progress[3] %>%;"></div>
</div> -->

<div class ="season_wrapper">
	<% @seasons.each do |season| %>
		<%= render partial: 'layouts/icons', locals: { current_user_likes: @current_user_likes, placeholder: season, current_user: current_user } %>		
		<br>
		Season: <%= season.season_num %>
		<br>
		Points: <%= season.points %>
		<br>
		Number of people who have watched this season: <%= season.medium.watched_count %>
		<br>
		<div class="bar_mortice mortice_tiny" style="width: 30%">
		  <div class="progress progress_tiny green" style="width: <%= @season_percent[season.season_num-1][0] %>%;"></div>
		  <div class="progress progress_tiny yellow" style="width: <%= @season_percent[season.season_num-1][1] %>%;"></div>
		  <div class="progress progress_tiny red" style="width: <%= @season_percent[season.season_num-1][2] %>%;"></div>
		</div>
		<br>
		You have recommended this season to:
		<br>
		<% season.medium.recommended_to(current_user.id).each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Have recommended this season to you:
		<br>
		<% season.medium.recommended_by(current_user.id).each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Friends who like this Season:
		<br>
		<% @season_likes[[season.medium.id, 1]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
			Friends who have seen this Season:
		<br>
		<% @season_likes[[season.medium.id, 0]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
		Friends who dislike this Season:
		<br>
			<% @season_likes[[season.medium.id, -1]].each do |person| %>
			<%= link_to person.name, user_path(person) %>
			<br>
		<% end %>
		<br>
	<% end %>
</div>