<div class="horizontal-combo-container">
    <div class="horizontal-combo-mortice">
        <div class="combo-fill" style="width: <%= unwatched %>%">
            <div class="combo-label">
              Unwatched
            </div>
            <div class="fill-amount">
              <%= unwatched %>%
            </div>
        </div>
        <div class="combo-fill green" style="width: <%= liked %>%">
            <div class="combo-label green-container">
              Liked
            </div>
            <div class="fill-amount green-mortice">
              <%= liked %>%
            </div>
        </div>
        <div class="combo-fill orange" style="width: <%= seen %>%">
            <div class="combo-label orange-container">
              Meh
            </div>
            <div class="fill-amount orange-mortice">
              <%= seen %>%
            </div>
        </div>
        <div class="combo-fill pink" style="width: <%= disliked %>%">
            <div class="combo-label pink-container">
              Disliked
            </div>
            <div class="fill-amount pink-mortice">
              <%= disliked %>%
            </div>
        </div>
    </div>
</div>