<% if note.media_type == "Movie" %>
	<div class="event_information">
	<div class="created_at"><%= note.created_at.strftime("%d %b. %Y") %></div>
		<div class="user_icon">
			<%= link_to image_tag('profile.jpg'), user_path(user), class: "photo_icon" %>
		</div>
		<div class="event_info">
		<%= link_to user.name, user_path(user) %> 
			<% case note.value%>
				<% when 1%>
					liked 
				<% when 0 %>
					saw 
				<% when -1%>
					disliked 
			<% end %>
			<%= link_to note.media.title, movie_path(note.media) %> 
		</div> 
	</div> 
<% elsif note.media_type == "Season"%>
	<div class="event_information">
	<div class="created_at"><%= note.created_at.strftime("%d %b. %Y") %></div>
		<div class="user_icon">
			<%= link_to image_tag('profile.jpg'), user_path(user), class: "photo_icon" %>
		</div>
		<div class="event_info">
		<%= link_to user.name, user_path(user) %>
		<% case note.value%>
			<% when 1%>
				liked 
			<% when 0 %>
				saw 
			<% when -1%>
				disliked 
		<% end %>
		<%= link_to note.media.title, show_path(note.media.show_id) %> Season <%= note.media.season_num %>
		</div> 
	</div> 
<% elsif note.media_type == "Episode" %>
	<div class="event_information">
	<div class="created_at"><%= note.created_at.strftime("%d %b. %Y") %></div>
		<div class="user_icon">
			<%= link_to image_tag('profile.jpg'), user_path(user), class: "photo_icon" %>
		</div>
		<div class="event_info">
		<%= link_to user.name, user_path(user) %>
		<% case note.value%>
			<% when 1%>
				liked 
			<% when 0 %>
				saw 
			<% when -1%>
				disliked 
		<% end %>
		<%= link_to note.media.title, show_path(note.media.show_id) %> Season <%= note.media.season_num %> Episode <%= note.media.episode_num %>
		</div> 
	</div> 
<% else %>
	<div class="event_information">
	<div class="created_at"><%= note.created_at.strftime("%d %b. %Y") %></div>
		<div class="user_icon">
			<%= link_to image_tag('profile.jpg'), user_path(user), class: "photo_icon" %>
		</div>
		<div class="event_info">
		<%= link_to user.name, user_path(user) %>
			<% case note.value%>
				<% when 1%>
					liked 
				<% when 0 %>
					saw 
				<% when -1%>
					disliked 
			<% end %> 
			<%= link_to note.media.title, show_path(note.media) %>
		</div> 
	</div> 
<% end %>