<% case current_user_likes[placeholder.medium_id] %>
	<% when 1 %>
		<ul class="icons">
			<li class="icons current_icon">
				<%= image_tag 'green_circle.svg' %>
				<ul class="icon_slider">
					<li class="icons"><%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0, is_recommendation: false}, :method => :post %></li>
					<li class="icons"><%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1, is_recommendation: false}, :method => :post %></li>
				</ul>
				<%= image_tag 'blue_r.jpg' %>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
			</li>
		</ul>
	<% when 0 %>
		<ul class="icons">
			<li class="icons current_icon">
				<%= image_tag 'yellow_circle.png' %>
				<ul class="icon_slider">
					<li class="icons"><%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1, is_recommendation: false}, :method => :post %></li>
					<li class="icons"><%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1, is_recommendation: false}, :method => :post %></li>
				</ul>
				<%= image_tag 'blue_r.jpg' %>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
			</li>
		</ul>
	<% when -1 %>
		<ul class="icons">
			<li class="icons current_icon">
				<%= image_tag 'red_circle.png' %>
				<ul class="icon_slider">
					<li class="icons"><%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1, is_recommendation: false}, :method => :post %></li>
					<li class="icons"><%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0, is_recommendation: false}, :method => :post %></li>
				</ul>
				<%= image_tag 'blue_r.jpg' %>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
			</li>
		</ul>
	<% else %>
		<ul class="icons">
			<li class="icons current_icon">
				<%= image_tag 'white_circle.jpeg' %>
				<ul class="icon_slider">
					<li class="icons"><%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1, is_recommendation: false}, :method => :post %></li>
					<li class="icons"><%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0, is_recommendation: false}, :method => :post %></li>
					<li class="icons"><%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1, is_recommendation: false}, :method => :post %></li>
				</ul>
				<%= image_tag 'blue_r.jpg' %>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
			</li>
		</ul>
<% end %>