<% case current_user_likes[placeholder.medium_id] %>
	<% when 1 %>
		<ul class="icons_wrapper">
			<li class="icon_element dropdown_icon">
				<%= image_tag('green_circle.svg'), class: "iconbtn icons" %>
				<div class="icon_slider">
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0}, :method => :post, class: "icons" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1}, :method => :post, class: "icons" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('blue_r.jpg'), {action: 'new', controller: 'recommendations', medium_id: placeholder.medium_id}, :method => :get, class: "icons" %>
				</li>
			</li>
		</ul>
	<% when 0 %>
		<ul class="icons_wrapper">
			<li class="icon_element dropdown_icon">
				<%= image_tag('yellow_circle.png'), class: "iconbtn icons" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1}, :method => :post, class: "icons" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1}, :method => :post, class: "icons" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('blue_r.jpg'), {action: 'new', controller: 'recommendations', medium_id: placeholder.medium_id}, :method => :get, class: "icons" %>
				</li>
			</li>
		</ul>
	<% when -1 %>
		<ul class="icons_wrapper">
			<li class="icon_element dropdown_icon">
				<%= image_tag('red_circle.png'), class: "iconbtn icons" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1}, :method => :post, class: "icons" %>
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0}, :method => :post, class: "icons" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('blue_r.jpg'), {action: 'new', controller: 'recommendations', medium_id: placeholder.medium_id}, :method => :get, class: "icons" %>
				</li>
			</li>
		</ul>
	<% else %>
		<ul class="icons_wrapper">
			<li class="icon_element dropdown_icon">
				<%= image_tag('white_circle.jpeg'), class: "iconbtn icons" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 1}, :method => :post, class: "icons" %>
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: 0}, :method => :post, class: "icons" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: current_user.id, like: placeholder.medium_id, value: -1}, :method => :post, class: "icons" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('blue_r.jpg'), {action: 'new', controller: 'recommendations', medium_id: placeholder.medium_id}, :method => :get, class: "icons" %>
				</li>
<!-- 				<div class="icons"
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div> -->
			</li>
		</ul>
<% end %>