<div class="poster_icon_wrapper">
	<% case media.medium.media_type %>
		<% when "Movie" %>
			<%= link_to image_tag(media.poster), movie_path(media), class: "poster_icon" %>
			<br>
			<%= link_to media.title, movie_path(media) %>
		<% when "Show" %>
			<%= link_to image_tag(media.poster), show_path(media), class: "poster_icon" %>
			<br>
			<%= link_to media.title, show_path(media) %>
		<% when "Season" %>
			<%= link_to image_tag(media.show.poster), show_path(media.show), class: "poster_icon" %>
			<br>
			<%= link_to media.title, show_path(media.show) %>
			<br>
			season 
			<%= media.season_num %>
		<% when "Episode" %>
			<%= link_to image_tag(media.show.poster), show_path(media.show), class: "poster_icon" %>
			<br>
			<%= link_to media.title, show_path(media.show) %>
			<br>
			season 
			<%= media.season_num %>
			<br>
			episode 
			<%= media.episode_num %>
	<% end %>
</div> 