<ul class="icons_holder">
	<div class="bar_mortice mortice_tiny" style="width: 75px">
	  <div class="progress progress_tiny green" style="width: <%= percents[0] %>%;"></div>
	  <div class="progress progress_tiny yellow" style="width: <%= percents[1] %>%;"></div>
	  <div class="progress progress_tiny red" style="width: <%= percents[2] %>%;"></div>
	  <div class="progress progress_tiny" style="width: <%= percents[3] %>%;"></div>
	</div>
<li class="icons current_icon"><%= link_to image_tag('blue_r.jpg'), {action: 'new', controller: 'recommendations', medium_id: placeholder.medium_id}, :method => :get %></li>
<!-- 				<div class="icons"
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="true">
		</div> -->
	</li>
</ul>
	