<% case current_user_likes[rec.info.medium_id] %>
	<% when 1 %>
		<ul class="icons_wrapper">
			<li class="dropdown_icon icon_element">
				<%= image_tag 'green_circle.svg', class: "iconbtn icons green_circle" %>
				<div class="icon_slider">
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 0, is_recommendation: true}, :method => :post, class: "icons yellow_circle" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: -1, is_recommendation: true}, :method => :post, class: "icons red_circle" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('endorse.png'), {action: 'new', controller: 'recommendations', medium_id: rec.info.medium_id}, :method => :get, class: "icons endorse" %>
				</li>
			</li>
		</ul>
	<% when 0 %>
		<ul class="icons_wrapper">
			<li class="dropdown_icon icon_element">
				<%= image_tag 'yellow_circle.png', class: "iconbtn icons yellow_circle" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 1, is_recommendation: true}, :method => :post, class: "icons green_circle" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: -1, is_recommendation: true}, :method => :post, class: "icons red_circle" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('endorse.png'), {action: 'new', controller: 'recommendations', medium_id: rec.info.medium_id}, :method => :get, class: "icons endorse" %>
				</li>
			</li>
		</ul>
	<% when -1 %>
		<ul class="icons_wrapper">
			<li class="dropdown_icon icon_element">
				<%= image_tag 'red_circle.png', class: "iconbtn icons red_circle" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 1, is_recommendation: true}, :method => :post, class: "icons green_circle" %>
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 0, is_recommendation: true}, :method => :post, class: "icons yellow_circle" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('endorse.png'), {action: 'new', controller: 'recommendations', medium_id: rec.info.medium_id}, :method => :get, class: "icons endorse" %>
				</li>
			</li>
		</ul>
	<% else %>
		<ul class="icons_wrapper">
			<li class="dropdown_icon icon_element">
				<%= image_tag 'white_circle.png', class: "iconbtn icons white_circle" %>
				<div class="icon_slider">
					<%= link_to image_tag('green_circle.svg'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 1, is_recommendation: true}, :method => :post, class: "icons green_circle" %>
					<%= link_to image_tag('yellow_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: 0, is_recommendation: true}, :method => :post, class: "icons yellow_circle" %>
					<%= link_to image_tag('red_circle.png'), {action: 'create', controller: 'likes', user: user.id, like: rec.info.medium_id, value: -1, is_recommendation: true}, :method => :post, class: "icons red_circle" %>
				</div>
				<li class="icon_element"><%= link_to image_tag('endorse.png'), {action: 'new', controller: 'recommendations', medium_id: rec.info.medium_id}, :method => :get, class: "icons endorse" %>
				</li>
			</li>
		</ul>
<% end %>