<div class="recommendation_show_wrapper">
	<div id=<%="#{rec.info.medium_id}"%> class ="recommendation_row_show">
		<div class="icons_left">
			<div class="rec_points">
				<%= rec.rec_points %>
			</div>
			<div class="upvote_icon">
				<%= render partial: 'layouts/upvote_icon', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %>
			</div>
		</div>
		<div class="rec_title"><%= link_to rec.info.title, show_path(rec.info) %></div>
		<div class="icons_right">
			<div class="media_points">
				(<%= rec.media_points %>)
			</div>
			<div class="icons_container">
				<%= render partial: 'layouts/rec_icons', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %>
			</div>
		</div>
		<br>
		<% rec.rec_by.each do |recommender| %>
			<%= link_to recommender.name, recommender %>
			<br>
		<% end %>
		<br>
	</div>
	<% rec.season_recs.each do |season_rec| %>
		<%= render partial: 'layouts/recommended_season_layout', locals: { user: user, current_user_likes: current_user_likes, rec: season_rec, current_user: current_user } %>
	<% end %>
</div>