<div id=<%="#{rec.info.medium_id}"%> class="recommendation_row_movie">
	<div class="icons_left">
		<div class="rec_points"><%= rec.user_points %></div>
		<div class="upvote_icon">
			<%= render partial: 'layouts/upvote_icon', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %>
		</div>
	</div>
	<div class="rec_title"><%= link_to rec.info.title, movie_path(rec.info) %></div>
	<div class="icons_right">
		<div class="media_points">
			(<%= rec.media_points %>)
		</div>
		<div class="icons_container">
			<%= render partial: 'layouts/rec_icons', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %>
		</div>
	</div>
	<div class="recommendation_expanded_movie">
		<%= rec.info.year %>  
		(<%= rec.info.rated %>)  
		<%= rec.info.runtime %>
		<br>
		<br>
		<%= rec.info.plot %>
		<br>
		<br>
		Tags: <% rec.info.medium.tags.each do |tag| %>
			<%= link_to tag.name,  tag_path(tag) %>
		<% end %>
		<br>
		Director: <%= rec.info.director %>
		<br>
		Writer: <%= rec.info.writer %>
		<br>
		Actors: <%= rec.info.actors %>
		<br>
		<div class="bar_mortice mortice_tiny" style="width: 266px">
		  <div class="progress progress_tiny green" style="width: <%= percents[0] %>%;"></div>
		  <div class="progress progress_tiny yellow" style="width: <%= percents[1] %>%;"></div>
		  <div class="progress progress_tiny red" style="width: <%= percents[2] %>%;"></div>
		</div>
		<img class="full_poster" src="<%= rec.info.poster %>">
		<br>
		Recommended By:
		<br>
		<% rec.rec_by.each do |recommender| %>
			<div class="friend_icon_wrapper">
				<%= link_to image_tag('profile.jpg'), recommender, class: "photo_icon"%>
		    <br>
		    <%= link_to recommender.name, recommender, class: "text_center" %>
		    <br>
	    </div>
		<% end %>
	</div>
</div>