<div id=<%="#{rec.info.id}"%> class="rec_row">
	Recommendation Points: <%= rec.user_points %>
	<br>
	Media Points: <%= rec.info.points %>
	<br>
	Title: <%= link_to rec.info.title, movie_path(rec.info) %>
	<br>
	<%= rec.rec_by.count %>
	<br>
	<%= render partial: 'layouts/rec_icons', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %>
	<br>
</div>