<div id=<%="#{rec.info.medium_id}"%> class="recommendation_row_movie">
	<span class="rec_points"><%= rec.user_points %></span>
	<span class="upvote_icon"><%= render partial: 'layouts/upvote_icon', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %></span>
	<span class="title_center"><%= link_to rec.info.title, movie_path(rec.info) %></span>
	<span class="icons_right"><%= rec.media_points %><%= render partial: 'layouts/rec_icons', locals: { user: user, current_user_likes: current_user_likes, rec: rec, current_user: current_user } %></span>
	<br>
	<div class="recommendation_expanded_movie">
		<br>
		Year: <%= rec.info.year %>
		<br>
		Rated: <%= rec.info.rated %>
		<br>
		Released: <%= rec.info.released %>
		<br>
		Runtime: <%= rec.info.runtime %>
		<br>
		Tags: <% rec.info.medium.tags.each do |tag| %>
			<%= link_to tag.name,  tag_path(tag) %>
		<% end %>
		<br>
		Director: <%= rec.info.director %>
		<br>
		Writer: <%= rec.info.writer %>
		<br>
		Actors: <%= rec.info.actors %>
		<br>
		Plot: <%= rec.info.plot %>
		<br>
		<div class="bar_mortice mortice_tiny" style="width: 266px">
		  <div class="progress progress_tiny green" style="width: <%= percents[0] %>%;"></div>
		  <div class="progress progress_tiny yellow" style="width: <%= percents[1] %>%;"></div>
		  <div class="progress progress_tiny red" style="width: <%= percents[2] %>%;"></div>
		</div>
		<img class="full_poster" src="<%= rec.info.poster %>">
		<br>
		Recommended By:
		<br>
		<% rec.rec_by.each do |recommender| %>
			<div class="friend_icon_wrapper">
				<%= link_to image_tag('profile.jpg'), recommender, class: "photo_icon"%>
		    <br>
		    <%= link_to recommender.name, recommender, class: "text_center" %>
		    <br>
	    </div>
		<% end %>
	</div>
</div>