<div id=<%="#{placeholder.id}"%> class=<%="#{css_class}_row"%>
	<%if user_likes[placeholder.medium_id] == 1 %>
		style="background-color:green;"
	<% elsif user_likes[placeholder.medium_id] == -1 %>
		style="background-color:red;"
	<% elsif user_likes[placeholder.medium_id] == 0 %>
		style="background-color:yellow;"
	<% end %>	>
	Title: <%= link_to placeholder.show.title, show_path(placeholder.show) %>
	<br>
	Season: <%= placeholder.season_num %>
	<br>
	<%= placeholder.created_at if recent %>
	<br>
	<%= render partial: 'layouts/icons', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder, current_user: current_user } %>				
	<br>
</div>