<div id=<%="#{placeholder[0].medium_id}"%> class="show_wrapper">
	<div class="likes_row_show">
		<span class="title_center"><%= link_to placeholder[0].title, show_path(placeholder[0]) %></span>
		<span class="icons_right"><%= render partial: 'layouts/icons', locals: { user: user, current_user_likes: current_user_likes, placeholder: placeholder[0], current_user: current_user }%></span>
		<span class="pill"><%= render partial: 'layouts/progress_pill', locals: {percents: progress[placeholder[0].medium_id]}%></span>
		<br>
	</div>
	<% placeholder[1].each do |season| %>
		<%= render partial: 'layouts/season_layout', locals: { user: user, current_user_likes: current_user_likes, placeholder: season, current_user: current_user, progress: progress} %>				
	<% end %>
</div>