<!DOCTYPE html>
<html>
<head>
  <title>Endorsesaurus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<header class ="navbar">
  <div class ="navbar-class">
    <ul class="navbar-nav">
    	<li><%= link_to "Profile", @current_user %></li>
    	<li><%= link_to "Media", media_path %></li>
      <li><%= link_to "Movies", movies_path %></li>
      <li><%= link_to "Shows", shows_path %></li>
      <li><%= link_to "Tags", tags_path %></li>
<!--     	<% if user_signed_in? %>
    		<li><%= button_to "Sign Out" %></li>
    	<% else %>
    		<li><%= button_to "Sign In" %></li>
    	<% end %> -->
    </ul>
  </div>
</header>

<%= yield %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '170206153377410',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
