<!DOCTYPE html>
<html>
<head>
  <title>Endorsesaurus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<header class ="navbar-wrapper">
  <div class="site-name">
    <%= image_tag('derpy_dinosaur.png', size: "30") %>
    Endorsesaurus: Tip the Scales
  </div>
  <div class ="navbar-class">
    <% if current_user %>
      <ul class="navbar-left navbar">
        <li class="nav_element"><%= link_to "Movies", movies_path %></li>
        <li class="nav_element"><%= link_to "Shows", shows_path %></li>
        <li class="nav_element"><%= link_to "Tags", tags_path %></li>
      </ul>
      <ul class="search_bar navbar">
        <li class="search">
          <%= form_tag('/media/search', method: :get) do |f| %>
            <%= text_field_tag :title, params[:title] %>
            <%= select_tag "media", options_for_select(["Movies", "Shows"], "Shows")%>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
      </ul>
      <ul class="navbar-right navbar">
        (<%= current_user.points %>)
        <li class="nav_element"><%= link_to current_user.name, dashboard_user_path(current_user) %>
          <ul>
            <li class="dropdown_element"><%= link_to "Profile", current_user %></li>
            <li class="dropdown_element"><%= link_to "Friends", friends_user_path(current_user) %></li>
            <li class="dropdown_element"><%= link_to "Movies", movies_user_path(current_user) %></li>
            <li class="dropdown_element"><%= link_to "Shows", shows_user_path(current_user) %></li>
            <li class="dropdown_element"><%= render 'devise/menu/registration_items' %></li>
            <li class="dropdown_element"><%= render 'devise/menu/login_items' %></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</header>

<%= yield %>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '170206153377410',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</body>
</html>
